.human{
    border-top: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    background: #D6D6D6;
    border-top-right-radius: 25px;
    box-shadow: -10px 10px 10px 1px #aaaaaa;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20%;
}
.pc{
    border-top: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
    background: #D6D6D6;
    border-top-left-radius: 25px;
    box-shadow: 10px 10px 10px 1px #aaaaaa;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20%;
}
.displayMessage{
    position: absolute;
    bottom: 0;
    margin-left: 25%;
    margin-bottom: 200px;
}
.transformable {
    -webkit-transition: height 100ms auto;
    -moz-transition: height 100ms auto;
    -o-transition: height 100ms auto;
    -ms-transition: height 100ms auto;
    transition: height 100ms auto;

}
.small {
    height:150px;
    width: 150px;
    line-height: 150px;
    font-size: 30px;
    color: dimgrey;
    text-align: center;
   }
.big {
    height:250px;
    width: 250px;
    line-height: 250px;
    font-size: 50px;
    font-weight: 600;
    color: black;
    text-align: center;
   }
.content{
    margin-top: 100px;
}
.contentHolder{
    width: 100%;
    margin: 10px auto;
    position: relative;
    text-align:center;
}
.letters-big{
    line-height: 120px;
    font-size: 45px;
    font-weight: 600;
    width: 80px;
    height: 120px;
    background: #D6D6D6;
    border: 2px solid #737373;
    display:inline-block;
    margin: 10px;
}
.letters-small{
    line-height: 100px;
    font-size: 40px;
    font-weight: 600;
    width: 60px;
    height: 100px;
    background: #D6D6D6;
    border: 2px solid #737373;
    display:inline-block;
    margin: 5px;
}
.letterInput{
    font-size:50px;
    width: 100px;
    text-align:center;
}

.style-1 input[type="text"] {
    padding: 10px;

    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.playerArea{
    width: 100%;
    margin-top: 100px;
    display: inline-block;

    vertical-align: top;
}
.enterButton{
    width: 10%;
    font-size:25px;
    vertical-align: top;
    height: 78px;
}
.logo{
    width: 100%;
    height: auto;
}
.playerSelectBtn{
    width: 100%;
    height: 10%;
    font-weight: 900;
    font-size: 25px;
}
.buttons{
    margin-top: 25px;
}
.modal-backdrop{
    opacity:0.95 !important;
}
.modal{
    display: flex !important;
    height: 100%;
}
.modal .modal-dialog{
    margin: auto;
}
.rules{
    font-size: 18px;
}

