<div class="row">
    <img class="logo" src="img/logo.png">
</div>
<div class="row content">
    <word-board></word-board>
</div>
<div class="row playerArea">
    <div class="text-center">
        <input type="text" ng-model="submit.letter" class="letterInput" maxlength="1" ng-trim="false" capitalize character-only>
        <button class="btn btn-success enterButton" ng-disabled="submit.letter.length !=1" ng-click="addLetter(submit.letter)">Enter</button>
    </div>
</div>
<div class="row">
    {{messageBox}}
</div>

<div class="row">

        <div class="pull-left human transformable" ng-class="{'small':player1plays, 'big':!player1plays}">
            {{players.player1}}
        </div>

        <div class="displayMessage">
                {{message}}
        </div>

        <div class="pull-right pc transformable" ng-class="{'small':!player1plays, 'big':player1plays}">
            {{players.player2}}
        </div>

</div>
